<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="robots" content="index, follow" />
		<title>{{ head_title }} • Oris Property</title>
		<meta name="description" content="PT. Oris Haza Propertindo Real Estate Agent in South Jakarta.">
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
		<meta name="viewport" content="width=1140">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:site" content="@aliaraaab"/>
		<meta name="twitter:creator" content="@aliaraaab" />
		<meta name="twitter:description" content="PT. Oris Haza Propertindo Real Estate Agent in South Jakarta."/>
		<meta name="twitter:image:src" content="https://muhammadaliii.github.io/orisproperty/dist/assets/img/cover-small.jpg?w=650"/>
		<meta name="keyword" content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
		<meta property="article:author" content="https://www.facebook.com/Oris-Property-100241199079783/" itemprop="author"/>
		<meta property="article:publisher" content="https://www.facebook.com/Oris-Property-100241199079783/"/>
		<meta property="og:site_name" content="Oris Property"/>
		<meta property="og:title" content="Oris Property"/>
		<meta property="og:url" content="https://orisproperty.com/"/>
		<meta property="og:description" content="PT. Oris Haza Propertindo Real Estate Agent in South Jakarta." >
		<meta property="og:image" content="https://muhammadaliii.github.io/orisproperty/dist/assets/img/cover-small.jpg?w=650"/>
		<meta property="og:image:width" content="650" />
		<meta property="og:image:height" content="366" />
		<meta property="og:type" content="website" />
		<link rel="canonical" href="https://orisproperty.com/"/>
		<link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
		<link rel="manifest" href="./site.webmanifest">
		<link rel="mask-icon" href="./safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" href="css/flyerpdf.css">
	</head>
	<body>
		<main id="target" class="no-padding">
			<!-- ====================== Ambil dari sini ====================== -->
			<div class="flyer model-3">
				<div class="flyer-box">
					<div class="flyer-content">
						<div class="content-top">
							<div class="image-title">
								<div class="logo-badge">
									<div class="logo-area">
										<figure>
											<div class="logo" style="background-image:url('assets/img/logo.png')"></div>
										</figure>
									</div>
								</div>
								<div class="image-content">
									<div class="badge-area">
										<span class="badge-tag best-tag orange-black font-text-bold">Best Deal</span>
									</div>
									<div class="image-wrapper">
										<div class="image-primary">
											<figure>
												<div class="images" style="background-image:url('assets/img/photos/image_20.jpg')"></div>
											</figure>
										</div>
										<div class="image-floating semi-large bottom right">
											<figure>
												<div class="images" style="background-image:url('assets/img/photos/image_21.jpg')"></div>
											</figure>
										</div>
										<div class="image-floating center">
											<figure>
												<div class="images" style="background-image:url('assets/img/photos/image_22.jpg')"></div>
											</figure>
										</div>
									</div>
								</div>
								<div class="title-area">
									<div class="title-wrapper">
										<p class="city">
											<span class="fa fa-map-marker-alt"></span>
											KUNINGAN, JAKARTA SELATAN
										</p>
										<h3 class="font-text-bold">Luxurious Modern Classic Premium Area, Semi Furnished</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="content-center">
							<div class="desc-content">
								<div class="row">
									<div class="col-5">
										<div class="desc-area">
											<div class="content-inside">
												FOR SALE KUNINGAN<br>
												LUXURIOUS MODERN CLASSIC<br>
												SEMI FURNISHED, PREMIUM AREA<br>
												<br>
												Luas Tanah 540 m2<br>
												Luas Bangunan 1.100 m2<br>
												Bangunan 3 lantai<br>
												Kamar Tidur 4<br>
												Kamar Mandi 5<br>
												Kamar Tidur Pembantu 2<br>
												Kamar Mandi Pembantu 2<br>
												Swimming Pool<br>
												Private Lift<br>
												Lantai Full Slab Marmer<br>
												Dry &amp; Wet Kitchen<br>
												Halaman Depan<br>
												Fish Pond<br>
												Storage 2<br>
												Garasi 3 Mobil<br>
												Carport 2 Mobil<br>
												SHM<br>
												<br>
												Harga Rp 51 M Nego
											</div>
										</div>
									</div>
									<div class="col-7">
										<div class="side-wrapper">
											<div class="spec-area">
												<ul class="spec-lis">
													<li>
														<div class="wrapper-desc">
															<span class="icon fa fa-vector-square"></span>
															<div class="info-spec">
																<label>Lahan</label>
																<p class="font-text-bold">540 m<sup>2</sup></p>
															</div>
														</div>
													</li>
													<li>
														<div class="wrapper-desc">
															<span class="icon fa fa-building"></span>
															<div class="info-spec">
																<label>Bangunan</label>
																<p class="font-text-bold">1100 m<sup>2</sup></p>
															</div>
														</div>
													</li>
													<li>
														<div class="wrapper-desc">
															<span class="icon fa fa-bed"></span>
															<div class="info-spec">
																<label>Kamar Tidur</label>
																<p class="font-text-bold">6</p>
															</div>
														</div>
													</li>
													<li>
														<div class="wrapper-desc">
															<span class="icon fa fa-bath"></span>
															<div class="info-spec">
																<label>Kamar Mandi</label>
																<p class="font-text-bold">7</p>
															</div>
														</div>
													</li>
													<li>
														<div class="wrapper-desc">
															<span class="icon fa fa-car"></span>
															<div class="info-spec">
																<label>Parkir Mobil</label>
																<p class="font-text-bold">2</p>
															</div>
														</div>
													</li>
												</ul>
											</div>
											<div class="facility-area">
												<h5 class="subtitle font-text-bold">Fasilitas</h5>
												<ul class="facility-list">
													<li>
														<div class="feature-wrapper">
															<span class="icon-facility far fa-check-circle"></span>
															<span>Ruang Tamu</span>
														</div>
													</li>
													<li>
														<div class="feature-wrapper">
															<span class="icon-facility far fa-check-circle"></span>
															<span>Ruang Keluarga</span>
														</div>
													</li>
													<li>
														<div class="feature-wrapper">
															<span class="icon-facility far fa-check-circle"></span>
															<span>Ruang Makan</span>
														</div>
													</li>
													<li>
														<div class="feature-wrapper">
															<span class="icon-facility far fa-check-circle"></span>
															<span>Beranda</span>
														</div>
													</li>
													<li>
														<div class="feature-wrapper">
															<span class="icon-facility far fa-check-circle"></span>
															<span>Dapur Basah</span>
														</div>
													</li>
													<li>
														<div class="feature-wrapper">
															<span class="icon-facility far fa-check-circle"></span>
															<span>Dapur Kering</span>
														</div>
													</li>
												</ul>
											</div>
											<div class="price-area">
												<p>Offer at</p>
												<h3 class="price font-text-bold">
													<sup>IDR</sup>
													<span>51<sub>.000.000.000</sub></span>
												</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="content-bottom">
							<div class="row align-items-center justify-content-between">
								<div class="col-5">
									<div class="contact-number">
										<div class="contact-wrapper">
											<div class="profile-picture">
												<figure>
													<div class="images" style="background-image: url('assets/img/graphics/dummy_person.png');"></div>
												</figure>
											</div>
											<div class="name-number">
												<h5 class="font-text-bold">OMAR NOVIARDI</h5>
												<h4 class="font-text-bold">+62 812 8983 1983</h4>
											</div>
										</div>
									</div>
								</div>
								<div class="col-5">
									<div class="address-socmed">
										<ul class="list-info">
											<li>
												<div class="info-wrapper">
													<p>https://orisproperty.com</p>
													<span class="icon fa fa-link"></span>
												</div>
											</li>
											<li>
												<div class="info-wrapper">
													<div class="address">
														<h6 class="font-text-bold">PT. Oris Haza Propertindo</h6>
														<address>
															Jl. Panglima Polim IV No.126 A, Melawai, Kebayoran Baru, Jakarta Selatan
														</address>
													</div>
													<span class="icon fa fa-map-marker"></span>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ====================== End ====================== -->
		</main>
		<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
		<script>
			function capture() {
				html2canvas(document.querySelector("#target"), {
					width: 1140, windowWidth: 1140
				}).then(canvas => {
				const img = canvas.toDataURL("image/png");

				// Langsung download otomatis
				const link = document.createElement('a');
				link.download = 'eflyer.png';
				link.href = img;
				link.click();
				});
			}

			// Auto-trigger jika ada query ⁠ ?capture=1 ⁠
			if (new URLSearchParams(window.location.search).get("capture") === "1") {
				window.onload = () => setTimeout(capture, 500); // Delay agar halaman benar-benar siap
			}
		</script>
	</body>
</html>
